.piece {
    width: 100%;
    height: 100%;
    border: 1px solid white;
    background-color: rgb(71, 70, 70);
    border-radius: 5px;
    position: relative;
}

.piece > img {
    width: 100%;
    height: 100%;
}

.piece .odds {
    position: absolute;
    top: 1px;
    right: 1px;
    font-size: 0.9rem;
}

.piece > .piece-alt-content {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}